.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
}

.form-container {
    width: 80%;
    height: 75vh;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    border-right: 1px solid;
}

.input-group {
    max-width: 90%; 
    width: 80%; 
    margin: 3% auto;
    padding: 2%;
    transition: all .3s;
}

.input-group:focus-within {
    transform: scale(1.015,1.015);
}   

.input-field {
    width: 90%;
    height: 15px;
    padding-top: 15px;
    font-size: 1rem;
    border: none;
    border-bottom: 2.2px solid black;
    transition: all .5s;
}

.input-field:focus {
    outline: none;
}

.input-field:focus + .input-label, .input-field:not(:placeholder-shown) + .input-label{
    transform: translateY(-2.8em) scale(.8);
    opacity: 0.7;
}

.input-field::placeholder {
    visibility: hidden;
}

.input-label {
    display: block;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 5%;
    transform: translateY(-1.8em);
    opacity: 1;
    transform-origin: 0 0;
    transition: all .3s;
    pointer-events: none;
}

.img {
    width: 100%;
    height: 50%;
}

.instructions {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 2%;
    padding: 5%;
    width: 80%;
    height: 40%;
    margin: 0 auto;
}

.instructions-label {
    display: block;
    font-size: 0.9rem;
    text-align: left;
    margin-left: 5%;
    transform: translateY(-0.7em);
    opacity: 1;
    transform-origin: 0 0;
    transition: all .3s;
    pointer-events: none;
}

.right-container {
    width: 40%;
}

button {
    width: 10%;
    padding: 1%;
    margin: 1% auto;
    background-color: black;
    color: #f8f8ff;
    border-style: none;
    font-weight: 700;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

textarea {
    width: 90%;
    max-width: 100%;
    height: 25vh;
}