.dashboard-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard {
    width: 90%;
    height: 90vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.search-group {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    min-height: 40px;
    padding-bottom: 7%;
    margin: 3% auto;
    box-shadow: rgba(0, 0, 0, 0) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.search-bar {
    width: 50%;
    padding: 0.6em;
    border-radius: 15px;
    transition: all 0.3s;
    border: 0.5px solid #b2beb5;
    
}

.search-bar:focus-within {
    outline: none;
    transform: scale(1.01);
}

button {
    margin-top: 5%;
    padding: 0.7em;
    width: 15%;
    min-width: 200px;
    border-style: none;
    background-color: black;
    margin: 2%;
    color: #fff;
    font-weight: 700;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Recipe-Container {
    height: 51%;
    overflow:scroll;
}

.Recipe-card {
    border: 1px solid black;
    width: 90%;
    height: 35vh;
    margin: 2% 3%;
    display: flex;
    flex-direction: row;
    transition: all 0.2s;
}

.Recipe-card:hover {
    transform: scale(1.03);
}

.card-img {
    width: 40%;
    border-right: 1px solid black;
}

.card-info {
    width: 60%;
    display: flex;
    flex-direction: column;
}
.col-1 {
    width: 100%;
    height: 30%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-title {
    width: 100%;
    height: 20%;
    padding: 0;
    border: 1px solid purple;
}

.col-2 {
    width: 100%;
    height: 70%;
    border: 1px solid red;
}

.recipe-info {
    width: 100%;
}