.header {
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #000;
    color: #fff;
}

.userInfo {
    margin-left: 2%;
}

nav {
    margin-top: 1%;
    margin-right: 2%;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}